    # =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Data & Models (IMPORTANT)
# =========================
data/
models/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment variables
# =========================
.env

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.idea/
.vscode/
*.swp
*.swo

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/
